.HeaderOption {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  color: grey;
  cursor: pointer;
}
.HeaderOption :hover {
  color: #000;
}
.HeaderOption__title {
    font-size: 12px;
    font-weight: 400;
}